<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/chart.css">
</head>
<body>
<div class="content">
    <ul>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
        <li><span>ddd</span></li>
    </ul>
    <div class="info">
        <input type="text">
        <button>发送</button>
    </div>
</div>
<script src="stylesheets/jquery.js"></script>
<!--<script src="socket.io/lib/socket.js"></script>-->
<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>