<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>密码或用户名错误</p>
    <div>
        前往
        <a href="/refs">注册</a>
    </div>
    <div>
        前往
        <a href="/logins">登陆</a>
    </div>
</div>
</body>
</html>